html{
  background-color: black;
  padding: 10%;
  margin: 10%;
  
}
.container{
  background: gray;
  padding: 50px;
  padding-top: 30px;
  margin: 10px;
   border-radius: 15px;
  text-align: center;
  text-emphasis-style: none;
}
.calculator form input{
width: 60px;
height: 60px;
border-radius: 30px;
font-style: 20px;
color: #12ff;
cursor: pointer;
margin: 10px;
}
form .display{
display: flex;
justify-content: flex-end;
margin: 20px 0;
}
form .display input{
  text-align: right;
  flex: 1;
  font-size: 45px;
}
form input.equal{
   width: 145px;;
}
